jenkins-airflow/compose/jenkins_files/jenkins.war

jenkins-airflow/compose/airflow_files/plugins/__pycache__
jenkins-airflow/compose/airflow_files/dags/__pycache__

jenkins-airflow/compose/airflow_files/airflow_src

jenkins-airflow/compose/postgres_data

partial-spans/compose/go-binaries/jaeger_bin
partial-spans/compose/go-binaries/otel_col_bin

partial-spans/otel-java-test/.gradle
partial-spans/otel-java-test/.kotlin
partial-spans/otel-java-test/.idea
partial-spans/otel-java-test/build
partial-spans/otel-java-test/local.properties

partial-spans/OtelDotnetTest/obj
partial-spans/OtelDotnetTest/bin

.vscode
.idea
