receivers:
  otlp:
    protocols:
      grpc:
        # Use 0.0.0.0 to bind to all network interfaces
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

exporters:
  otlp/jaeger:
    # We are using Jaeger's gRPC trace ingestion endpoint.
    # For that reason the exported is 'otlp' and not 'otlphttp'.
    # The default otlp port for the Jaeger collector is 4317, not 14250(gRPC).
    endpoint: "jaeger:4317"
    tls:
      insecure: true

  # Exporter to Aspire Dashboard via gRPC
  otlp/aspire_grpc:
    endpoint: "aspire-dashboard:18889"
    tls:
      insecure: true

  # Exporter to Aspire Dashboard via HTTP
  otlphttp/aspire_http:
    endpoint: "http://aspire-dashboard:18890"

  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200

processors:
  batch:

service:
  pipelines:
    traces:
      receivers: [otlp]
      # Use gRPC-based exporter
      exporters: [otlp/jaeger]
      # exporters: [debug, otlp/jaeger]
      processors: [batch]
    metrics:
      receivers: [otlp]
      exporters: [otlp/aspire_grpc, otlphttp/aspire_http]
      # exporters: [debug]
      processors: [batch]
